body {
  margin: 0;
  transition: background-color 0.3s, color 0.3s;
}

button {
  padding: 0.5rem 1rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #0070f3;
  color: white;
  font-weight: bold;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #005bb5;
}
